.intro{
    text-align: center;
}

.equipo-potencia{
    font-weight: bold;
    font-size: 11px;
    height: 110px;
    width: 80px;
    border-radius: 2px;
    background-color: transparent;
    border: solid gold 1px;
}

.equipo-superior{
    font-weight: bold;
    font-size: 11px;
    height: 110px;
    width: 80px;
    background-color: transparent;
    border: solid green 1 px;
}

.equipo-normal{
    font-weight: bold;
    font-size: 11px;
    height: 110px;
    width: 80px;
    background-color: transparent;
    border: solid orange 1 px;
}

.equipo-inferior{
    font-weight: bold;
    font-size: 11px;
    height: 110px;
    width: 80px;
    background-color: transparent;
    border: solid orangered 1 px;
}

.info{
    font-style: italic;
}

.resetear{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 90px;
}

.jugar{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 90px;
}

#resultado{
    font-size: 25px;
}

.error {
    border: 2px solid red;
}

body{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(255,255,255,1) 49%, rgba(0,212,255,1) 100%);
}

.container{
    border: solid 2px red;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 600px;
    height: 450px;
}

.container-clubes{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#visitante{
    justify-content: right;
}