.intro{
    text-align: center;
}

.prueba{
    color: red;
}

h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.equipoPotencia{
    border: solid gold 1px;
}

.equipoSuperior{
    border: solid forestgreen 1px;
}

.equipoNormal{
    border: solid orange 1px;
}

.equipoInferior{
    border: solid orangered 1px;
}

.container1{
    margin-right: 600px;
}

.equipoPotencia, .equipoNormal, .equipoSuperior, .equipoInferior{
    font-weight: bold;
    font-size: 10.5px;
    height: 110px;
    width: 80px;
    border-radius: 2px;
    background-color: transparent;
    margin: 0 0.5% 0.5%;
}

.equipoPotencia:hover, .equipoNormal:hover, .equipoSuperior:hover, .equipoInferior:hover{
    border: solid rgb(4, 44, 0) 2px;
    cursor: pointer;
    background-color: rgb(120, 8, 224);
    color: rgb(196, 196, 196);
}

.infoLocal, .infoVisitante{
    display: inline-block;
    font-weight: bold;
}

.infoError{
    overflow-wrap: auto;
}

.resetear{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 90px;
}

.jugar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 90px;
}

#resultado{
    font-size: 25px;
}

.error {
    border: 2px solid red;
}

body{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(255,255,255,1) 49%, rgba(0,212,255,1) 100%);
}

.container1, .container2{
    border: solid 2px rgb(207, 243, 5);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 430px;
    overflow: auto;
    display: flex;
}

.golesLocal, .golesVisitante{
    font-weight: bold;
    font-size: 40px;
}

.containerClubes{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.oculto{
    display: none;
}